@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --background: #0c0c0c;
  --foreground: #fafafa;
}

body {
  color: var(--foreground);
  background: var(--background);
}

@layer utilities {
  .text-balance {
    text-wrap: balance;
  }
}
